* {
  font-family: Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

h1 {
  margin: 0px;
  font-size: 40px;
}
h2 {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 28px;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: start;
  align-self: end;
}
h3 {
  font-size: 18px;
  color: white;
}
h4 {
  font-size: 15px;
  color: rgb(209, 209, 209);
}

body {
  margin: 0px;
  width: 100vw;
}

header {
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  font-size-adjust: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  font-size-adjust: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(63, 63, 63);
}

footer p {
  margin: 0px;
}

nav {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
}

.homemain {
  height: 110vh;
  background-color: #0b0b0b;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 35px min-content 35px 43px 20px 1fr;
  justify-items: center;
  align-items: center;
}
.phonetext {
  grid-column: 1 / 4;
  grid-row-start: 2;
  height: 100%;
  width: 100vw;
}
.phone {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 410px;
}
.buy {
  grid-column-start: 2;
  grid-row-start: 4;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ff0178;
  border-radius: 6px;
  font-size: 12;
}
.buy p {
  margin: 0px;
}
.phonesmain .buy {
  grid-row-start: 5;
}

.phonesmain {
  height: 120vh;
  background-color: #0b0b0b;
  display: grid;
  grid-template-columns: 3fr min-content 1fr min-content 3fr;
  grid-template-rows: 40px 45px min-content 30px 43px 150px 100px 1fr;
  justify-items: center;
  align-items: center;
}

.beansmain {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 0.7fr 300px 2fr;
  justify-items: center;
  align-items: center;
}

.smallphone {
  grid-column-start: 2;
  grid-row-start: 3;
  width: 160px;
}
.plusphone {
  grid-column-start: 4;
  grid-row-start: 3;
  width: 160px;
}

#buy2 {
  grid-column-start: 4;
}

#basetitle {
  grid-column-start: 2;
  grid-row-start: 2;
}
#plustitle {
  grid-column-start: 4;
  grid-row-start: 2;
}

.phonesmain ul {
  margin: 0px;
  padding-left: 30px;
  padding-top: 30px;
  color: rgb(209, 209, 209);
  grid-row-start: 6;
  justify-self: start;
  align-self: start;
}
li {
  margin-bottom: 6px;
}
#baselist {
  grid-column-start: 2;
}
#pluslist {
  grid-column-start: 4;
}

.beansmain section {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 16px;
}

.beansmain img {
  grid-column-start: 3;
  grid-row-start: 2;
  height: 300px;
}

#buybeans {
  grid-row-start: 3;
  grid-column: 2 / 4;
  height: 43px;
  align-self: start;
  margin-top: 58px;
}

.onemain {
  width: 100vw;
  height: 100vh;
  background-color: #0b0b0b;
  display: grid;
  grid-template-columns: 4fr 6fr 1fr 6fr 1fr 6fr 4fr;
  grid-template-rows: 125px 380px 1fr;
  justify-items: center;
  align-items: center;
}

.intro {
  color: white;
  grid-column: 1 / 8;
  grid-row-start: 1;
  font-size: 16px;
  text-align: center;
  align-self: start;
}
.intro h1 {
  margin-top: 26px;
}
.intro p {
  margin-top: 6px;
  color: rgb(209, 209, 209);
}

.plan {
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 40px 50px 200px 50px 40px;
}
.plan h3 {
  grid-column-start: 2;
  margin: 0px;
  align-self: center;
}
.plan h1 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.plan ul {
  grid-column: 2 / 4;
  grid-row-start: 3;
  margin-top: 30px;
  padding-left: 6px;
  width: 100%;
  color: rgb(209, 209, 209);
  text-align: start;
}
.plan a {
  grid-column-start: 2;
  grid-row-start: 4;
  height: 43px;
  align-self: center;
  justify-self: center;
  display: flex;
  place-content: center;
  padding-left: 0px;
  padding-right: 0px;
  width: 95px;
}

#basic {
  grid-column: 2 / 3;
  border-color: silver;
}
#standard {
  grid-column: 4 / 5;
  border-color: #ff0178;
}
#premium {
  grid-column: 6 / 7;
  border-color: gold;
}
#basic h3 {
  color: silver;
}
#standard h3 {
  color: #ff0178;
}
#premium h3 {
  color: gold;
}
#premium ul {
  padding-left: 12px;
}

#buybasic {
  background-color: silver;
  color: #0b0b0b;
}
#buystandard {
  background-color: #ff0178;
}
#buypremium {
  background-color: gold;
  color: #0b0b0b;
}

.buymain {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  grid-template-rows: 0.8fr 300px 2fr;
  justify-items: center;
  align-items: center;
}

.buymain section {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 100%;
  font-size: 16px;
  align-self: start;
  margin-top: 20px;
}

.buymain img {
  grid-column-start: 1;
  grid-row-start: 2;
  height: 300px;
}

#add {
  grid-row-start: 3;
  grid-column-start: 2;
  height: 43px;
  justify-self: start;
  align-self: start;
  margin-top: 5vh;
  text-align: center;
}

.imageselect {
  width: 65px;
  height: 20px;
  margin-top: 5vh;
  grid-row-start: 3;
  grid-column-start: 1;
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
}
#dotselect {
  background-color: rgb(156, 156, 156);
}

@media screen and (max-width: 600px) {
  .homemain {
    grid-template-rows: 70px min-content 35px 43px 1fr;
  }
  .beansmain {
    height: 140vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 5fr 2fr 1fr;
  }
  .beansmain section {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .beansmain img {
    grid-column-start: 1;
    grid-row-start: 3;
    height: 340px;
  }
  #buybeans {
    grid-column: 1;
    grid-row-start: 4;
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
  .smallphone {
    width: 140px;
  }
  .plusphone {
    width: 140px;
  }
  .phonetext {
    display: none;
  }

  .onemain {
    height: min-content;
    grid-template-columns: 1.5fr 8fr 1.5fr;
    grid-template-rows: 182px 380px 30px 380px 30px 380px 60px;
    justify-items: center;
    align-items: center;
  }
  .intro h1 {
    margin-top: 55px;
  }
  #basic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #standard {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  #premium {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }

  .buymain {
    height: min-content;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 250px 340px 60px 60px 60px 60px;
  }
  .buymain section {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .buymain img {
    grid-column-start: 1;
    grid-row-start: 3;
    height: 340px;
  }
  .imageselect {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-top: 0px;
    align-self: center;
  }
  h2 {
    margin-bottom: 0px;
    grid-column-start: 1;
    grid-row-start: 5;
    justify-self: center;
    align-self: center;
  }
  #add {
    grid-column: 1;
    grid-row-start: 6;
    align-self: start;
    justify-self: center;
    align-self: center;
    margin-top: 0px;
  }
}
#imageselectbeans {
  margin-left: 8px;
}

@media screen and (max-width: 350px) {
  .buymain h1 {
    font-size: 35px;
  }
}
